<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>fornecedores</title>
</head>
<body>
    <div class="container">
        <h1>Fornecedores</h1>
        <form class="row g-3" id="frmFornecedor">
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSearch" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarFornecedor()">Buscar</button>
            </div>
            <hr class="border border-primary border-1 opacity-75">
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputId" placeholder="id">
                <br>
            </div>
            <div class="col-md-8">
                <label for="inputName" class="form-label">Razão Social</label>
                <input type="text" class="form-control" id="inputName" maxlength="50" spellcheck="false" required>
            </div>
            <div class="col-md-4">
                <label for="inputCnpj" class="form-label">CNPJ</label>
                <input type="number" class="form-control" id="inputCnpj" spellcheck="false" required>
            </div>
            <div class="col-md-4">
                <label for="inputPhone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputPhone" maxlength="15" spellcheck="false" required>
            </div>
            <div class="col-md-7">
                <label for="inputAddress" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputAddress" maxlength="50" spellcheck="false" required>
                <br>
            </div>
            <div class="col-md-3">
                <label for="inputCep" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputCep" maxlength="8" spellcheck="false" required>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="btnCep" onclick="buscarCep()">Buscar por CEP</button>
            </div>
            <div class="col-md-6">
                <label for="inputLogradouro" class="form-label">Logradouro</label>
                <input type="text" class="form-control" id="inputLogradouro" maxlength="50" spellcheck="false" required>
            </div>
            <div class="col-md-1">
                <label for="inputNumero" class="form-label">Número</label>
                <input type="number" class="form-control" id="inputNumero" spellcheck="false" required>
            </div>
            <div class="col-md-5">
                <label for="inputBairro" class="form-label">Bairro</label>
                <input type="text" class="form-control" id="inputBairro" spellcheck="false" required>
            </div>
            <div class="col-md-3">
                <label for="inputCidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="inputCidade" spellcheck="false" required>
            </div>
            <div class="col-md-1">
                <label for="uf">UF</label>
                <select id="uf" class="form-select" required>    
                    <option value=""></option>      
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputComplemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="inputComplemento" spellcheck="false">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="button" class="btn btn-warning" id="btnUpdate" onclick="editarFornecedor()">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="excluirFornecedor()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>
        </form>
    </div>
    

















    <!-- bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
    <script src="script.js"></script>
    <script src="fornecedor.js"></script>
</body>
</html>