<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <!-- bootrep-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>CONEST - Controle de estoque</title>
</head>
<body>
    <div class="container">
    <h1>CONEST</h1>       
    <button class="btn" onclick="cliente()"><img src="../public/img/cliente.png" alt="cliente"></button>
    <button class="btn" onclick="fornecedores()"><img src="../public/img/fornecedores.png" alt="fornecedores"></button>
    <button class="btn" onclick="produtos()"><img src="../public/img/produtos.png" alt="produtos"></button>
    <button class="btn" onclick="relatorio()"><img src="../public/img/relatorio.png" alt="relatorio"></button>
    </div>  

    <footer>
        <p id="dataAtual"></p>
        <img id="statusDb" src="../public/img/dboff.png" alt="database">
    </footer>



    <!-- bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="./render.js"></script>
</body>
</html>