<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <!-- bootrep-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>CONEST - Controle de estoque</title>
</head>
<body>
    <h1>CONEST</h1>
    <button class="btn btn-dark" onclick="sobre()">Sobre</button>
    <br><br><br>
    <a href="cliente.html" target="_blank"><img src="../public/img/cliente.png" alt="cliente"></a>

    <a href="fornecedores.html" target="_blank"><img src="../public/img/fornecedores.png" alt="fornecedores"></a>

    <a href="produtos.html" target="_blank"><img src="../public/img/produtos.png" alt="cliente"></a>

    <footer>
        <p id="dataAtual"></p>
    </footer>



    <!-- bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- css perosnal-->
    <link rel="stylesheet" href="../public/css/style.css">

    <script src="./render.js"></script>
</body>
</html>