<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>produtos</title>
</head>
<body>
    <br>
    <div class="container">
        <h1 class="mt-3">Produtos</h1>
        <form class="row g-3" id="frmProduto">
            <!-- leitura do codigo de barras -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputProduct" spellcheck="false">
            </div>
            <div class="col-md-4">
                <img src="../public/img/barcode.png" alt="barcode">
            </div>
            <hr class="border border-primary border-1 opacity-75">
            <!-- id do produto (nao esconder) -->
            <div class="col-md-6">
                <label for="idProduct" class="form-label">id</label>
                <input type="text" class="form-control" id="idProduct" spellcheck="false">
            </div>
            <!-- codigo de barras -->
            <div class="col-md-6">
                <label for="barcode" class="form-label">codigo de barras</label>
                <input type="text" class="form-control" id="barcode" spellcheck="false">
            </div>
            <!-- produto -->
            <div class="col-md-6">
                <label for="nameProduct" class="form-label">Poduto</label>
                <input type="text" class="form-control" id="nameProduct" spellcheck="false" maxlength="50">
            </div>
            <!-- imagem do produto -->
            <div class="col-md-5">
                <img src="../public/img/img.png" alt="imagem do produto" id="imageProduct">
            </div>

            <!-- upload da iamgem do produto -->
            <input type="file" id="uploadProduct">
            
            <!-- Botões -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="btnCreate">Adicionar</button>
                <button type="button" class="btn btn-dark" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset"></button>
            </div>
        </form>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    
</body>
</html>