<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
 
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Sobre</title>
</head>
<body>
    <h1>Sobre</h1>
    <p>Conest Controle de estoque</p>
    <p>PEDRO HENRIQUE</p>
    <p>Versão 1.0</p>
    <p>MIT</p>
    <img src="../public/img/licensemit.webp" alt="">

    <!-- bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- css perosnal-->
    <link rel="stylesheet" href="../public/css/style.css">
</body>
</html>